.wrapper {
  margin: 2em auto;
  max-width: 75%;
  border: 1px solid #9da5b2;
  border-radius: 0.7em;
  padding: 1em;

}

.wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.offer {
  background-color: rgb(209, 209, 209);
  width: 28%;
  max-height: 30em;
  padding: 0.7em;
  border: 1px solid #9da5b2;
  border-radius: 0.7em;
  margin: 0.8em;
  list-style-type: none;
  transition: 0.3s;
}

.offer:hover {
  background-color: #ffffff;
}

.offer p {
  margin: 0.3em;
}

.offer .imgBox img {
  border-top-right-radius: 0.7em;
  border-top-left-radius: 0.7em;
  display: block;
  width: 100%;
  max-height: 15em;
}

.offer span {
  padding: 0;
  margin-right: 0.5em;
  color: #717780;
  border-bottom: 1px solid #717780;
}

.wrapper .noRecordsMsg {
  text-align: center;
  padding: 1em;
}
