.wrapper div h2 {
  font-size: 2.2em;
  color: #ffffff;
  text-align: center;
  padding: 2em;
  text-shadow: 2.5px 2.5px #272727;
}


.box1, .box2 {
  margin: 3em auto;
  background: url('/carbonBackground.png');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  height: 12em;
  opacity: 0.8;
  box-shadow: 0px 0px 5px 5px rgb(95, 94, 94);
  transition: 0.5s;
}

.box1:hover, .box2:hover {
  opacity: 0.9;
}