@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

*, *:before, *::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline:none;
}

body {
  background-color: #F8F8F8;
}

